<%= form_for @website, :html => { :class => 'form-inline' } do |f| %>
  <% if @website.errors.any? %>
		<%- @error = "has-error" -%>
  <% end %>
	<div class="form-actions <%= @error %>">
		<% if @website.errors.any? %>
      <% @website.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
		<% end %>
		<%= f.text_field :url, :class => 'input-medium', :autofocus => "autofocus", :placeholder => "url…", :required => true %>
		<%= f.text_field :nombre, :class => 'input-medium', :placeholder => "Nombre…", :required => true %>
		<%= f.text_field :descripcion, :class => 'input-medium', :placeholder => "Descripcion…", :required => true %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                websites_path, :class => 'btn' %>			
	</div>
<% end %>
