<%= form_for @tema, :html => { :class => 'form-horizontal' } do |f| %>

<!-- Errores en la validación -->

  <% if @tema.errors.any? %>
    <div class="alert fade in alert-error">
      <h2><%= pluralize(@tema.errors.count, "error impide") %> realizar el registro:</h2>
      <ul>
      <% @tema.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'text_field', :required => true %>
	  	<span class="help-inline">*</span>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :descripcion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :descripcion, :class => 'text_area', :size => '5x5' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :asunto_id, :class => 'control-label' %>
    <div class="controls">
	  <%= f.collection_select :asunto_id, Asunto.all, :id, :nombre, :prompt => true, :required => true  %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary', data: { :disable_with => "Por favor espere..." } %>

		<% unless params[:controller].eql? 'temas' %>
			<%= hidden_field_tag 'controlador', params[:controller] %>
			<%= hidden_field_tag  'accion', params[:action] %>
    	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                "", :class => 'btn', :data => {:dismiss => 'modal'} %>
		<% else %>
    	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	                temas_path, :class => 'btn' %>
	  <% end %>

  </div>
<% end %>
