<%= form_for @medio_organizacion, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :organizacion_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :organizacion_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :medio_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :medio_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :propio, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :propio, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                medio_organizaciones_path, :class => 'btn' %>
  </div>
<% end %>
