

<%= link_to 'Nueva Alerta', new_alerta_path, :class => 'btn btn-primary' %>
<h1>Alertas</h1>

<%= render :partial => 'filtro_contenido'%>


<table class = 'table table-striped table-bordered table-hover table-condensed'>
  <tr>
		<th>Id</th>
    <th>Fecha</th>
    <th>Contenido</th>
    <th style="width:50%;" >Resumen</th>
    <th>Temas</th>
    <th>Tipos alertas</th>
    <th>Voceros</th>
    <th>Opciones</th>
  </tr>

<% @alertas.each do |alerta| %>
  <tr class='filtrables'>
	  <td>
			<b class='tooltip-btn' data_toggle='tooltip' title='Ver Alerta' >
				<%= link_to alerta.id, alerta %></td>
			</b>
    <td><%= alerta.fecha %></td>
    <td><%= alerta.contenido %></td>
		<td><%= alerta.resumen %></td>
    <td><%= alerta.tema.full_descripcion %></td>
    <td><%= alerta.tipo_alerta.descripcion.capitalize %></td>
    <td><%= alerta.vocero.nombre_descripcion %></td>
    <td>
			<b class='tooltip-btn' data_toggle='tooltip' title='Editar Alerta' >
				<%= link_to edit_alerta_path(alerta), { :role => 'button', :class => 'btn btn-info btn-mini'} do %>
					<%= content_tag(:i, "", class: "icon-edit icon-white") %>
				<% end %>
			</b>	

			<b class='tooltip-btn' data_toggle='tooltip' title='Eliminar Alerta' >
				<%= link_to alerta_path(alerta), { :role => 'button', :class => 'btn btn-danger btn-mini', :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estas seguro de esta acción?')) }} do %>
					<%= content_tag(:i, "", class: "icon-trash icon-white") %>
				<% end %>
			</b>
    </td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Alerta', new_alerta_path, :class => 'btn btn-primary' %>


<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('.tooltip-btn').tooltip();
	});
</script>