
<%= form_for @organizacion, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'text_field', :required => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :descripcion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :descripcion, :class => 'text_area', :size => "5x5" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nombre_corto, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre_corto, :class => 'text_field', :required => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rif, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rif, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tolda_id, :class => 'control-label' %>
    <div class="controls">
	  <%= f.collection_select :tolda_id, @toldas, :id, :nombre, :prompt => true, :required => true %>
    </div>

		<div class="btn-group" data-toggle="buttons-radio">
			<%# @toldas.each do |tolda| %>
			<%# f.radio_button "organizacion", "tolda", "#{tolda.nombre}" %>
			<%# f.button "#{tolda.nombre}", :type => 'button', :class=> "btn btn-primary", :value => "#{tolda.id}", :id => "organizacion_tolda_id", :name => "organizacion[tolda_id]" %>
		  <%# end %>
		</div>

  </div>
  <div class="control-group">
    <%= f.label "Tipo de Organizacion", :class => 'control-label' %>
    <div class="controls">
	  <%= f.collection_select :tipo_id, @tipos, :id, :nombre, :prompt => true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :estado_id, :class => 'control-label' %>
    <div class="controls">
	  <%= f.collection_select :estado_id, Estado.all, :id, :nombre, {:prompt => true}, {:required => true, :class => "selects2" } %> 
	<!-- #, :onchange => 'myfun(this.value)'}  -->
    </div>
  </div>

	<script type="text/javascript" charset="utf-8">
		$("#organizacion_estado_id").change(function(){
			var estado_id = $(this).val()
		  $.get("/estados/actualizar_select_municipios/"+estado_id, 
		        function(data){ $("#municipioSelectDiv").html(data); } );
		});
	</script>

  <div id="municipioSelectDiv">
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                organizaciones_path, :class => 'btn' %>
  </div>

<% end %>

