<%= form_for @organizacion, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :razon_social, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :razon_social, :class => 'text_field', :autofocus => true, :placeholder => "Nombre de la Organización", :required => true %>
    </div>
  </div>
  <%- if @entorno %>
    <%= f.hidden_field :entorno_id %>
    <%= hidden_field_tag :entorno, true %>
  <% else %>
    <div class="control-group">
      <%= f.label :entorno_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :entorno_id, Entorno.order('nombre ASC'), :id, :nombre, {:prompt => "Entorno"}, { :class => 'selects2 span3', :required => true} %>
      </div>
    </div>
  <% end -%>
  <div class="control-group">
    <%= f.label :interna_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :interna_id, Interna.all, :id, :description, {:prompt => "Cl. Interna"}, {:required => true} %>
      <%# f.number_field :interna_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :externa_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :externa_id, Externa.all, :id, :description, {:prompt => "Cl. Externa"}, {:required => true} %>
      <%# f.number_field :externa_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ambito_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :ambito_id, Ambito.all, :id, :description, {:prompt => "Ámbito"}, {:required => true} %>

      <%# f.number_field :ambito_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :clase_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :clase_id, Clase.all, :id, :description, {:prompt => "Clase"}, {:required => true} %>

      <%# f.number_field :clase_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%- if @entorno %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                entorno_path(@organizacion.entorno), :class => 'btn' %>
    <% else %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                organizaciones_path, :class => 'btn' %>
    <% end %>
  </div>
<% end %>

