<%- model_class = Organizacion -%>
<div class="page-header">
  <h1>Organización</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:razon_social) %>:</strong></dt>
  <dd><%= @organizacion.razon_social %></dd>
  <dt><strong><%= model_class.human_attribute_name(:entorno_id) %>:</strong></dt>
  <dd><%= link_to @organizacion.entorno.nombre, entorno_path(@organizacion.entorno)%></dd>
  <dt><strong><%= "Cl. #{model_class.human_attribute_name(:interna_id)}" %>:</strong></dt>
  <dd><%= @organizacion.interna.description %></dd>
  <dt><strong><%= "Cl. #{model_class.human_attribute_name(:externa_id)}" %>:</strong></dt>
  <dd><%= @organizacion.externa.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ambito_id) %>:</strong></dt>
  <dd><%= @organizacion.ambito.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:clase_id) %>:</strong></dt>
  <dd><%= @organizacion.clase.description %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              organizaciones_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_organizacion_path(@organizacion), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              organizacion_path(@organizacion),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

  <ul class="nav nav-tabs" id="TabMedios">
    <li class="active"><a href="#actores">Actores</a></li>
    <%- if @organizacion.interna.description.eql? 'Cliente' %>
      <li><a href="#marcas">Marcas</a></li>
      <li><a href="#medios">Medios</a></li>
    <% end -%>
  </ul>

  <div class="tab-content">

    <div class="active tab-pane" id="actores">
      <%- @actores = @organizacion.actores %>
      <%= render file: '/actores/index', layouts: false %>
      <%= link_to 'Agregar' , "javascript:void(0)", onclick: "$('#nuevo_actor').show(300); $(this).hide();", class: 'btn btn-primary' %>

      <div id="nuevo_actor" style="display: none;">
        <%= render partial: '/actores/form' %>
      </div>
    </div>
    <%- if @organizacion.interna.description.eql? 'Cliente' %>  
      <div class="tab-pane" id="marcas">
        <%- @marcas = @organizacion.marcas %>
        <%= render file: '/marcas/index', :layouts => false %>
        <%= link_to 'Agregar' , "javascript:void(0)", onclick: "$('#nueva_marca').show(300); $(this).hide();", class: 'btn btn-primary' %>

        <div id="nueva_marca" style="display: none;">
          <%= render partial: '/marcas/form' %>
        </div>

      </div>
      <div class="tab-pane" id="medios">
        <%- @medios = @organizacion.medios %>
        <%= render file: '/medios/index', :layouts => false %>
        <%= link_to 'Agregar' , "javascript:void(0)", onclick: "$('#nuevo_medio').show(300); $(this).hide();", class: 'btn btn-primary' %>

        <div id="nuevo_medio" style="display: none;">
          <%= render partial: '/medio_organizaciones/form' %>
      </div>      
    <% end -%>
  </div>