<%= form_for @tipo_cargo, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="form-actions">
		<%= f.text_field :nombre, :class => 'input-medium', :autofocus => "autofocus", :placeholder => "Nombre…", :required => true %>
		<%= f.text_field :nombre_corto, :class => 'input-medium', :placeholder => "Nombre Corto…", :required => true %>
	
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tipos_cargos_path, :class => 'btn' %>
  </div>
<% end %>
