<%= form_for @reporte, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :argumento, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :argumento, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :titulo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :titulo, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :actor_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :actor_id, Actor.all, :id, :descripcion, {:prompt => "Actores"}, {:required => true, :class => 'selects2 span7', :autofocus => true} %>

    </div>
  </div>

  <div class="control-group">
    <%= f.label :actor_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :organizacion_id, Organizacion.all, :id, :descripcion, {:prompt => "Actores"}, {:required => true, :class => 'selects2 span7', :autofocus => true} %>

    </div>
  </div>

  <div class="control-group">
    <%= f.label :informe_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :informe_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                reportes_path, :class => 'btn' %>
  </div>
<% end %>
