<%- model_class = Reporte -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>


<%- @table_name = 'reportes'%>
<%= render partial: '/layouts/filtro_tabla' %>


<table class="table table-striped table-hover table-condensed" id="reportes">

  <thead>
    <tr>
      <th style="width: 15%">Fecha Creación</th>
      <th>Organización</th>
      <th>Informe</th>
      <th>Descripción</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @reportes.each do |reporte| %>
      <tr>
        <td><%=l reporte.created_at %></td>
        <td><%= reporte.organizacion.razon_social if reporte.organizacion%></td>
        <td><%= link_to reporte.informe_id, informe_path(reporte.informe) if reporte.informe %></td>s
        <td><%= raw contenedor_media_descripcion_sin_editar reporte %></td>
        <td>
          <%= raw btn_mini 'Editar este reporte', "/wizard_reportes/paso3/#{reporte.id}", 'btn-info', 'icon-edit' %>
          <%# link_to t('.destroy', :default => t("helpers.links.destroy")),
                      reporte_path(reporte),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
