<div style="font-family:Verdana, sans-serif;font-size:11pt">
	<div style="margin-bottom:0cm;line-height:100%;text-align:center;">
		<p><b><%= @informe.autor %></b></p>
		<p><b><%= @informe.tema %></b></p>		
		<p><b><%= @informe.fecha.strftime('%A, %d de %B de %Y').capitalize %></b></p>		
		<p style="background-color:rgb(0,0,0);color:white;">
			<b><%= @informe.titulo %></b>
		</p>
		<p style="text-align:justify;"><%= @informe.resumen %></p>
		<br>
		<p><b>Panorama Informativo</b></p>		
	</div>

	<% @asuntos.each do |asunto| %>
	
		<% temas = asunto.temas %>
		<% temas = temas.joins(:informes_temas).where('informes_temas.informe_id' => @informe.id).order(:orden) if (@informes_temas and @informe) %>

		<% if temas.count > 0 %>
			<p><u><%= asunto.nombre %></u></p>

			<% @informe_asunto = asunto.informes_asuntos.where(:informe_id => @informe.id).first %>
			<% @informe_asunto = @informes_asuntos.where(:asunto_id => asunto.id).limit(1).first %>
			<% temas.each do |tema| %>
				<% resumenes_final = @resumenes.where('tema_id = ? AND resumen_id IS NULL', tema.id) %>
				<% if resumenes_final.count > 0 %>
					<% unless tema.nombre.eql? "General" or tema.asunto_id.eql? 3 %>
						<p><i><%= tema.nombre %></i></p>
					<% end %>
					<div style="text-align:justify; background-color: #eee;border-radius: 5px;">
						<% resumenes_final.each_with_index do |resumen, i| %>
							<% if resumen.resumen_id.nil? %>
							
								<% resumen.orden = i+1 if resumen.orden.nil? %>

								<p style="padding: 10px;">
							    <b><%= resumen.vocero.nombre_descripcion if resumen.vocero %></b>
									<%= resumen.contenido if resumen.contenido %>
									<% if resumen.notas %>
										<% resumen.notas.each_with_index do |nota,i| %>
											<%= link_to nota.website.descripcion, nota.url, {:class => 'btn btn-link', :target => '_blank'} %>
											<%= "-" if i < resumen.notas.count-1 %>
										<% end %>
									<% end %>

									<% sub_resumenes = resumen.resumenes %>
									<% sub_resumenes.each do |sub_resumen| %>
										/
										<b><%= sub_resumen.vocero.nombre_descripcion if not resumen.vocero_id.eql? sub_resumen.vocero_id %> </b>
										<%= sub_resumen.contenido %>

										<% if sub_resumen.notas %>
											<% sub_resumen.notas.each_with_index do |nota,i| %>
												<%= link_to nota.website.descripcion, nota.url, {:class => 'btn btn-link', :target => '_blank'} %>
												<%= "-" if i < sub_resumen.notas.count-1 %>
											<% end %>
										<% end %>
									<% end %>
								</p>
							<% end #if resumen.resumen_id.nil?%>
						<% end #each resumenes_final%>
					</div>
				<% end %>
			<% end %>

		<% end %>

	<% end %>
	
</div>