<%= form_for @informe, :html => { :class => 'form-horizontal' } do |f| %>
		
	<div class ="well well-small">
		<div style = "text-align:center;">
			<p>
				<%= f.text_field :autor, :class => 'text_field span5', :required => true, :style => 'text-align:center;' %>
			</p>
			<!-- <strong><h6>Dirección de Seguimiento de la Información Electoral</h6></strong> -->
			<!-- <strong><h6>AGENDA TEMÁTICA DE MEDIOS</h6></strong> -->
			<p>
				<%= f.text_field :tema, :class => 'text_field span4', :required => true, :style => 'text-align:center;' %>
			</p>
			<p>
				<% fecha = @informe.fecha ? @informe.fecha : Date.today %>
				<!-- <strong><h6><%# fecha.strftime('%A, %d de %B de %Y')%></h6></strong> -->
				<%= f.date_select :fecha, {:style => "width:60px;"}, {:required => true, :class => 'date_select span2'} %>
			</p>
			<strong>
				<h6 style = "background-color: black; color: white; height:40px; padding-top:10px;">
					<!-- MONITOREO DE MEDIOS (de 10:00am a 04:00pm) -->
					<%= f.text_field :titulo, :class => 'text_field span5', :required => true, :style => 'text-align:center;'%>
					<%# f.text_field :titulo, :value => "MONITOREO DE MEDIOS (de 10:00am a 04:00pm)", :class=> "span5" %> 
				</h6>
			</strong>				
		</div>
		
    <%= f.text_area :resumen, :class => 'input-block-level', :data => {"spy" => "scroll", "target" => ".navbar"}, :required => true, :style => "height:100px;"%>
		<% @resumenes.collect do |r| %>
			<%= hidden_field_tag "resumenes_ids[]", r.id %> 
		<% end %>
		</br>
		</br>
	  <div class="form-actions-online" style = "text-align: right">
	    <%= f.submit 'Completar informe', :class => 'btn btn-primary' %>
	    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	                informes_path, :class => 'btn' %>
	  </div>
	</div>
<% end %>

<div class="alert alert-info" style="text-align:center;">
		<a class="close" data-dismiss="alert">&#215;</a>
		<strong>Total de notas compiladas:</strong>
		<span class="badge"><%= @resumenes.count %></span>
</div>

<div class ="well well-small">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<% @asuntos.each do |asunto| %>
					<% temas = asunto.temas %>

					<% temas = temas.joins(:informes_temas).where('informes_temas.informe_id' => @informe.id).order(:orden) if (@informes_temas and @informe) %>
					<% if temas.count > 0 %>
						</br>

						<dd><u><%= asunto.nombre %></u>
								<% @informe_asunto = asunto.informes_asuntos.where(:informe_id => @informe.id).first %>
								<% @informe_asunto = @informes_asuntos.where(:asunto_id => asunto.id).limit(1).first %>								
						</dd>

						</br>
						<ul>
							<% temas.each do |tema| %>
								<% resumenes_final = @resumenes.where('tema_id = ? AND resumen_id IS NULL', tema.id) %>
								<% if resumenes_final.count > 0 %> 
									<li style = 'display:block;'>
										<dd style = 'background-color: #ddd;'><strong><em><%= tema.nombre %></em></strong></dd>
										<div class="well well-small">
											<% resumenes_final.each_with_index do |resumen, i| %>
												<% if resumen.resumen_id.nil? %>
													<div class="well justificar" style="padding: 5px; margin: 5px; text-align:justify;">
														<% resumen.orden = i+1 if resumen.orden.nil? %>
														<%= notas_estructuradas resumen, "/#{controller_name}/#{action_name}" %>
													</div>
												<% end %>
											<% end %>
										</div>
									</li>
								<% end %>
							<% end %>
						</ul>
					<% end %>
				<% end %>
		</td></tr>
	</table>
</div>

