

	<div id="tema_nuevo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close fade" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Nuevo Tema</h3>
	  </div>
	  <div class="modal-body">
	    <%= render :partial => 'temas/form' %>

	  </div>
	</div>

<!-- Javascript -->

<script type="text/javascript" charset="utf-8">
	function ver_agregar(resumen){
		document.getElementById("ver_"+resumen).style.display="inline-block";
		return false;

	}
	
</script>

<div class="thumbnail">
	<div class="caption">
		<h3>Voceros Pendientes por Asignar Tema</h3>			
	</div>
	<% if @voceros.count.count > 0 %>
		<div class ="contenido_scroll_200">
			<table class="table table-hover table-condensed">

				<% @voceros.each do |vocero| %>
					<%- resumen = vocero.resumenes.creados_hoy.first -%>

					<tr> <%= form_for resumen, url: {action: "agregar_vocero/#{vocero.id}", accion: action_name}, html: { class: 'form-inline'} do |f| %> <%= hidden_field_tag "informe_id", @informe.id if @informe %>

 <td> <label> <b> <%= vocero.nombre %>: </b> <%= "#{resumen.contenido[0..200]}..." %> </label> </td> <td> <%= f.grouped_collection_select :tema_id, Asunto.all, :temas, :nombre, :id, :nombre, {:prompt => "Tema"}, {:id => "tema_#{resumen.id}", :required => true, :class => 'selects2 span3', :onchange => "return ver_agregar(#{resumen.id})"} %> </td> <td> <%= link_to (""), { :role => 'button',:class => 'btn btn-success btn-mini', :data => {:toggle => 'modal'}, :onclick => "return $('#tema_nuevo').modal();"} do %> <i class="icon-plus icon-white"></i> <i class="icon-th-list icon-white"></i> <% end %>

									<%= button_tag(:id => "ver_#{resumen.id}", :class => 'btn btn-success btn-mini',:style => 'display: none;', :type => 'submit') do %>
										<i class="icon-arrow-up icon-white"></i>
									<% end %>
								</td>
							<% end %>
					</tr>
				<% end %><!-- each resumenes  -->

			</table>
		</div>
	<% end %>
</div>


<div id="tema_nuevo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close fade" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Nuevo Tema</h3>
  </div>
  <div class="modal-body">
    <%= render :partial => 'temas/form' %>

  </div>
</div>

<!-- Javascript -->

<script type="text/javascript" charset="utf-8">
	function ver_agregar(resumen){
		document.getElementById("ver_"+resumen).style.display="inline-block";
		return false;

	}
	
</script>