
<%- model_class = Informe -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= link_to 'Nuevo Informe',
            {controller: 'wizard_informes', action: 'paso1'},
            :class => 'btn btn-primary' %>
</br>
</br>
<%- @table_name = 'informes'%>
<%= render partial: '/layouts/filtro_tabla' %>


<table class="table table-striped table-hover table-condensed" id="informes">

  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Fecha. Creación</th>
      <th>Fecha Informe</th>
      <th><%= model_class.human_attribute_name(:titulo) %></th>
      <th># Reportes</th>
      <th><%= model_class.human_attribute_name(:autor) %></th>
      <th><%= model_class.human_attribute_name(:organizacion_id) %></th>
      <th style="width: 15%"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @informes.each do |informe| %>
      <tr>
        <td><%= informe.id %></td>
        <td><%= informe.created_at %></td>
        <td><%= informe.fecha %></td>
        <td><%= informe.titulo %></td>
        <td><%= informe.reportes.count %></td>
        <td><%= informe.autor %></td>
        <td><%= informe.organizacion.razon_social if informe.organizacion %></td>
        <td>
          <%- if informe.organizacion_id.eql? Organizacion::CONTEXTO_PAIS_ID %>
            <%= raw btn_mini 'Editar el informe más reciente', "/wizard_informes/paso2_especial/#{informe.id}", 'btn-success', 'icon-edit'%>
          <% else %>
            <%= raw btn_mini 'Editar informe', "/wizard_informes/paso2/#{informe.id}", 'btn-info', 'icon-edit' %>
          <% end -%>
          |
          <%- if informe.organizacion_id.eql? Organizacion::CONTEXTO_PAIS_ID %>
            <%= raw btn_mini 'Enviar informe', "", 'btn-success', 'icon-share' %>
          <% else %>
            <%= raw btn_mini 'Enviar informe', "/wizard_informes/seleccionar_destinos/#{informe.id}?url=1", 'btn-success', 'icon-share' %>
          <% end -%>
          |
          <%- msg =  "¿Está Seguro?" %>
          <%- msg = "ATENCIÓN: Los reportes asociados a este Informe quedaŕan liberados #{msg}" if informe.reportes.count > 0 %>

          <%= raw btn_mini_del 'Eliminar informe', informe_path(informe) , 'btn-danger', 'icon-trash', msg %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @informes, previous_label: '« Anterior', next_label: 'Próxima »', class: 'pager', link_separator: ' | ' %>
