<%- model_class = Informe -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:fecha) %>:</strong></dt>
  <dd><%= @informe.fecha %></dd>
  <dt><strong><%= model_class.human_attribute_name(:encabezado) %>:</strong></dt>
  <dd><%= @informe.encabezado %></dd>
  <dt><strong><%= model_class.human_attribute_name(:titulo) %>:</strong></dt>
  <dd><%= @informe.titulo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:autor) %>:</strong></dt>
  <dd><%= @informe.autor %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tema) %>:</strong></dt>
  <dd><%= @informe.tema %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              informes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_informe_path(@informe), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              informe_path(@informe),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
