<%- model_class = Medio -%>
<%- if controller_name.eql? 'medios' %>
  <div class="page-header">
    <h1>Medios Digitales
      <%= link_to t('.new', :default => t("helpers.links.new")), new_medio_path, :class => 'btn btn-primary' %>
      
    </h1>

      <%# link_to "", {:href => "/adjuntos/eliminar_total_adjuntos", :class => 'btn btn-danger pull-right'} do %>
        <%# "Eliminar notas adjuntas" %>
        <%# content_tag(:i, "", class: "icon-exclamation-sign icon-white") %>
      <%# end -%>
  </div>
<% end -%>

<%- @table_name = 'medios'%>
<%= render partial: '/layouts/filtro_tabla' %>

<table class="table table-striped table-hover table-condensed filtrable" id="medios">
  <thead>
    <tr>

      <th style="width:10%;"><%= model_class.human_attribute_name(:nombre) %></th>
      <th style="width:20%;"><%= model_class.human_attribute_name(:descripcion) %></th>
      <th><%= model_class.human_attribute_name(:vpe) %></th>
      <th><%= model_class.human_attribute_name(:impacto) %></th>
      <th>Especialidad</th>
      <th>Adjuntos</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @medios.each do |medio| %>
      <tr>
        <td><%= medio.nombre %></td>
        <td><%= link_to (truncate medio.descripcion, length: 20 ), medio_path(medio) %></td>
        <td><%= medio.vpe %></td>
        <td><%= medio.impacto %></td>
        <td><%= medio.tipo_especializacion.description.capitalize %></td>
        <td><%= medio.adjuntos.count %></td>
        <td>


        <%- if controller_name.eql? 'organizaciones' %>
          <%- @medio_organizacion = MedioOrganizacion.where(organizacion_id: @organizacion.id, medio_id: medio.id).first %>
          <td>
            <b class='tooltip-btn' data_toggle='tooltip' title="Desvincular medio a esta Organizacion" >
              <%= link_to medio_organizacion_path(@medio_organizacion), { :role => 'button', :class => 'btn btn-danger btn-mini', :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estas seguro de esta acción?')) }} do %>
                <%= content_tag(:i, "", class: "icon-remove icon-white") %>
              <% end %>
            </b>

          </td>
        <% else %>

          <b class='tooltip-btn' data_toggle='tooltip' title="Detalle de <%=medio.nombre %>" >
            <%= link_to medio_path(medio), { :role => 'button', :class => 'btn btn-success btn-mini'} do %>
              <%= content_tag(:i, "", class: "icon-zoom-in icon-white") %>
            <% end %>
          </b>
          |
          <b class='tooltip-btn' data_toggle='tooltip' title='Editar <%=medio.nombre %>' >
            <%= link_to edit_medio_path(medio), { :role => 'button', :class => 'btn btn-info btn-mini'} do %>
              <%= content_tag(:i, "", class: "icon-edit icon-white") %>
            <% end %>
          </b>
          |
          <b class='tooltip-btn' data_toggle='tooltip' title="ir a <%=medio.descripcion %>" >
            <%= link_to medio.url, { :role => 'button', :class => 'btn btn-mini', :target => '_blank'} do %>
              <%= content_tag(:i, "", class: "icon-share") %>
            <% end %>
          </b>          
        
        <% end -%> 

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%- if controller_name.eql? 'medios' %>
  <%= link_to t('.new', :default => t("helpers.links.new")), new_medio_path, :class => 'btn btn-primary' %>
<% end -%>
