<%- model_class = EstructuraMedio -%>

<%- unless @medio%>
  <div class="page-header">
    <h1>Estructura de los campos de los medios</h1>
  </div>
<% end -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%= model_class.human_attribute_name(:articulo) %></th>
      <th><%= model_class.human_attribute_name(:titulo) %></th>
      <th><%= model_class.human_attribute_name(:contenido) %></th>
      <th><%= model_class.human_attribute_name(:fecha) %></th>
      <th><%= model_class.human_attribute_name(:medio_id) unless @medio%></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @estructuras_medios.each do |estructura_medio| %>
      <tr>
        <td><%= link_to estructura_medio.id, estructura_medio_path(estructura_medio) %></td>
        <td><%= estructura_medio.url %></td>
        <td><%= estructura_medio.articulo %></td>
        <td><%= estructura_medio.titulo %></td>
        <td><%= estructura_medio.contenido %></td>
        <td><%= estructura_medio.imagen %></td>
        <td><%= estructura_medio.fecha %></td>
        <td><%= estructura_medio.medio_id unless @medio%></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_estructura_medio_path(estructura_medio), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      estructura_medio_path(estructura_medio),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @medio %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              "#{new_estructura_medio_path}?medio_id=#{@medio.id}",
              {:class => 'btn btn-primary'} %>
<% else %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_estructura_medio_path,
              {:class => 'btn btn-primary'} %>
<% end %>

