<%- model_class = EstructuraMedio -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
  <dd><%= @estructura_medio.url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:articulo) %>:</strong></dt>
  <dd><%= @estructura_medio.articulo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:titulo) %>:</strong></dt>
  <dd><%= @estructura_medio.titulo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contenido) %>:</strong></dt>
  <dd><%= @estructura_medio.contenido %></dd>
  <dt><strong><%= model_class.human_attribute_name(:imagen) %>:</strong></dt>
  <dd><%= @estructura_medio.imagen %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fecha) %>:</strong></dt>
  <dd><%= @estructura_medio.fecha %></dd>
  <dt><strong><%= model_class.human_attribute_name(:medio_id) %>:</strong></dt>
  <dd><%= @estructura_medio.medio_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              estructuras_medios_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_estructura_medio_path(@estructura_medio), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              estructura_medio_path(@estructura_medio),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
