<%= form_for @clave, :html => { :class => 'form-horizontal' } do |f| %>

  <b class='tooltip-btn' data_toggle='tooltip' title="Incluye múltiples palabras o fraces separados por ';'" >

    <div class="control-group">
      <%= f.label :valor, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :valor, :class => 'text_field', :size => '5x2', :autofocus => true, :placeholder => "Chocolate;Café;Cacao", :required => true %>

      </div>
    </div>
  </b>


  <div class="control-group">
    <%= f.label :incluyente, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :incluyente, :checked => true, :class => 'check_box' %>
    </div>
  </div>

<%- if controller_name.eql? 'entornos' %>
  <%= f.hidden_field :entorno_id %>
<% else %>
  <div class="control-group">
    <%= f.label :entorno_id, :class => 'control-label' %>
    <div class="controls">
      <%# f.number_field :entorno_id, :class => 'number_field' %>
      <%= f.collection_select :entorno_id, Entorno.order('nombre ASC'), :id, :nombre, {:prompt => "Entorno", :required => true}, { :class => 'selects2 span3'} %>
    </div>
  </div>
<% end -%>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                claves_path, :class => 'btn' %>
  </div>
<% end %>
