<%- model_class = Clave -%>
<%- if controller_name.eql? 'clave' %>
  <div class="page-header">
    <h1>Palabras Claves
      <%= link_to 'Nueva',
              new_clave_path,
              :class => 'btn btn-primary' %>    
    </h1>
  </div>
<% end -%>  
<%- @table_name = 'claves'%>
<%= render partial: '/layouts/filtro_tabla' %>

<table class="table table-striped table-hover table-condensed" id="claves">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:valor) %></th>
      <th><%= model_class.human_attribute_name(:incluyente) %></th>
      <%- if controller_name.eql? 'claves' %>
        <th><%= model_class.human_attribute_name(:entorno_id) %></th>
      <% end -%>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @claves.each do |clave| %>
      <tr>
        <td><%= clave.valor %></td>
        <td>
          <% if clave.incluyente -%>
            <i class="icon-ok"></i>
          <% end -%>
        </td>
        <%- if controller_name.eql? 'claves' %>
          <td><%= clave.entorno.nombre if clave.entorno %></td>
        <% end -%>
        <td>
          <b class='tooltip-btn' data_toggle='tooltip' title='Eliminar palabra clave' >
            <%= link_to clave_path(clave), { :role => 'button', :class => 'btn btn-danger btn-mini', :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estas seguro de esta acción?')) }} do %>
              <%= content_tag(:i, "", class: "icon-trash icon-white") %>
            <% end %>
          </b>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%- if controller_name.eql? 'clave' %>

  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_clave_path,
            :class => 'btn btn-primary' %>
<% end -%>