</br>

<div class ="well well-small">
			<%= form_tag url_for(:controller => @controlador, :action => @proceso), :method => 'post', :remote => @remote do %>
				<%# hidden_field_tag "informe_id", @informe.id %>
				<%# @informe.id %>
				<%# @informe.resumenes.count %>
				<% if ((action_name=="paso2" or action_name=="paso3" or action_name=="paso2b" or action_name=="paso4" or action_name=="paso5")  and controller_name=="informes") %>
					<div>
						<% if action_name=="paso2b" %>
							<%= submit_tag @proceso.humanize, {:class => "btn btn-success", 'data-confirm'=> 'Este proceso es irreversible, ¿Está Seguro?'} %>
						<% elsif action_name.eql? 'paso3' or action_name.eql? 'paso4' or action_name.eql? 'paso6'  %>
							<%= submit_tag @proceso.humanize, {class: "btn btn-success", onclick: "ordenar();"} %>
						<% else  %>
							<%= submit_tag @proceso.humanize, {:class => "btn btn-success"} %>
						<% end %>

					</div>
				<% end %>

				<% if ((@informe)  and controller_name=="informes") %>
					<%= hidden_field_tag :id, @informe.id %>
				<% end %>
				<% @asuntos.each do |asunto| %>
					<% temas = asunto.temas %>

					<% temas = temas.joins(:informes_temas).where('informes_temas.informe_id' => @informe.id).order(:orden) if (@informes_temas and @informe) %>
					<% if temas.count > 0 %>
						
						<div class='asunto_tema_titulo'><u><%= asunto.nombre %></u>
							<% if (controller_name=="informes" and action_name=="paso5") %>
								<% @informe_asunto = asunto.informes_asuntos.where(:informe_id => @informe.id).first %>
								<% @informe_asunto = @informes_asuntos.where(:asunto_id => asunto.id).limit(1).first %>
								
								<span class="label label-success pull-right">
									<%= number_field_tag "orden_asuntos[#{asunto.id}]", (@informe_asunto.orden if @informe_asunto) , :in => 1...@informes_asuntos.count+1, :class => 'span1', :style => 'margin-bottom: 0' %>
								<span>
							<% end %>							
						</div>
						<% if action_name.eql? "paso4" %>
							<ol class="well well-small ordenable">
						<% end %>
							<% temas.each do |tema| %>
								<% resumenes_final = @resumenes.where('tema_id = ? AND resumen_id IS NULL', tema.id).order(:orden) %>
								<% if resumenes_final.count > 0 %> 
									<% if action_name.eql? "paso4" %>
										<li>
									<% else %>
											<p>
									<% end< %>
									
										<div class = 'asunto_tema_titulo'><strong><em><%= tema.nombre %></em></strong>
											<% if (controller_name=="informes" and action_name=="paso4") and  temas.count > 1 %>
												<% @informe_tema = tema.informes_temas.where(:informe_id => @informe.id).first %>
												<%= number_field_tag "orden_temas[#{tema.id}]", (@informe_tema.orden if @informe_tema) , :style => 'display:none;' %>

											<% end %>
										</div>
											<%# resumenes_final.order("titulo ASC") %>
											
										<% if action_name.eql? "paso3" %>
											<ol class=" well well-small ordenable" >
										<% end %>
											<% resumenes_final.each_with_index do |resumen, i| %>
												<% if resumen.resumen_id.nil? %>
													<% if action_name.eql? "paso3" %>												
														<li class="justificar" style="padding: 2px; margin: 2px;">
													<% else %>
													  <p>
													<% end %>
														<% resumen.orden = i+1 if resumen.orden.nil? %>
														<% if controller_name=="informes" and (action_name=="paso2" or action_name=="paso2b" or action_name=="paso3") %>


																<% case action_name %>
																<% when "paso2" %>
																	<label class='label label-success '>
																		<%= check_box_tag "unir_resumenes_ids[]", resumen.id %>
																		<%= @proceso if @proceso %>
																	</label>
																	|
																<% when "paso2b" %>
																	<label class='label label-success '>
																		<%= check_box_tag "fusionar_resumenes_ids[]", resumen.id %>
																		<%= @proceso if @proceso %>
																	</label>
																	|
																<% when "paso3" %>
																	<%# number_field_tag "orden_resumenes[#{resumen.id}]", resumen.orden, :in => 1...resumenes_final.count+1, :class => 'span1', :style => 'margin-bottom: 0' if (resumenes_final.count > 1)%>
																	<%= number_field_tag "orden_resumenes[#{resumen.id}]", resumen.orden, :style => 'display:none;' if (resumenes_final.count > 1)%>
																<% end %>

														<% end %>


														<% if @informe %>
															<%= notas_estructuradas resumen, "/#{controller_name}/#{action_name}/#{@informe.id}", @informe.id %>
														<% else %>
															<%= notas_estructuradas resumen, "/#{controller_name}/#{action_name}" %>
														<% end %>
													<% if action_name.eql? "paso3" %>
														</li>
													<% else %>
													  </p>
													<% end %>
												<% end %>
											<% end %>
										<% if action_name.eql? "paso3" %>
											</ol>
										<% end %>
									<% if action_name.eql? "paso4" %>
										</li>
									<% else %>
										</p>
									<% end %>


								<% end %>	
							<% end %>

							<% if action_name.eql? "paso4" %>
								</ol>
							<% end %>

					<% end %>
				<% end %>
				
			<% end %>
</div>

<%= javascript_include_tag "jquery-sortable" %>

<script type="text/javascript" charset="utf-8">
	function ordenar() {
    $(".ordenable li").each(function(){
				var input = $(this).find("input");
        input.val($(this).index()+1);
    });
	
		return false
	}

	$(document).ready(function() {
		$("ol.ordenable").sortable();
	});
</script>