<%= form_for @resumen, :url=>{:action => @accion},  :html => { :class => 'form-actions' } do |f| %>

		<% if @accion.eql? "update" %>
			<div class="control-group">
			  <%= label :compiladas, "Notas Compiladas:", :class => 'control-label' %>
			  <div class="controls">
			    <%- @notas = @resumen.notas.order "updated_at DESC" -%>
					<%- @notas.each do |nota| %>
						<%= link_to nota.descripcion, nota.url, {:class => 'btn btn-link', :target => '_blank'} %>
						<%= link_to "#", {:class => 'btn btn-mini btn-danger', :onclick => "return eliminar_nota (#{nota.id})"} do %>
							<i class="icon-trash icon-black"></i>
						<% end %>
						|
					<% end %>
			  </div>
			</div>
		<% end %>

	<div class="control-group">
	  <%= f.label "Seleccione:", :class => 'control-label' %>
	  <div class="controls">

			<%# hidden_field_tag :id, @resumen.id %>
	    <%= f.collection_select :vocero_id, Vocero.order('nombre DESC'), :id, :descripcion_completa, {:prompt => "Vocero"}, {:required => true, :style => 'width: 30%;', :data => {:placeholder => "Seleccione Vocero"}} %>
	    <%# f.collection_select :vocero_id, Vocero.all.map{|v| [v.nombre, :title => image_path(v.foto)]}, :id, :nombre, {:prompt => "Vocero"}, {:required => true, :class => 'selects2', :style => 'width: 30%;'} %>
			<%# f.collection_select(:vocero_id, Vocero.all.map{|v| [v.nombre, :title => v.image_url(:foto)]}, :id, :nombre, {:prompt => "Vocero"}, {:required => true, :class => 'selects2', :style => 'width: 30%;'} } %>
			<%= link_to (""), { :role => 'button',:class => 'btn btn-success btn-mini', :data => {:toggle => 'modal'}, :onclick => "return $('#vocero_nuevo').modal();"} do %>
				<i class="icon-plus icon-white"></i>
				<i class="icon-user icon-white"></i>
			<% end %>
			
			<%# "<img class='flag' src='http://img1.noticias24.com/1110/logo_edglobal_wmatte.gif/>" %>
			
			<%= f.grouped_collection_select :tema_id, Asunto.all, :temas, :nombre, :id, :nombre, {:prompt => "Tema"}, {:required => true, :class => 'selects2', :style => 'width: 50%;'} %>
			<%# f.grouped_collection_select (:city, :country_id, @continents, :countries, :name, :id, :name) %>
			<%= link_to (""), { :role => 'button',:class => 'btn btn-success btn-mini', :data => {:toggle => 'modal'}, :onclick => "return $('#tema_nuevo').modal();"} do %>
				<i class="icon-plus icon-white"></i>
				<i class="icon-th-list icon-white"></i>
			<% end %>
			
	  </div>
		<% if @accion.eql? "update" %>
			</br>
	    <div class="controls">
		    <%= f.label :contenido, "Contenido:", :class => 'control-label' %>
	      <%= f.text_area :contenido, :class => 'text_area', :style => "width: 95%; height: 120px;", :prompt => "Tema" %>
	    </div>
		<% end %>
	</div>
	
	<div class="form-actions">
		<% if @accion.eql? "update" %>
			<%= link_to t('.back', :default => t("helpers.links.back")),
	              {:action => "paso1"}, :class => 'btn'  %>
	  <% else %>
  
    	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                resumenes_path, :class => 'btn' %>
		<% end %>
		<%= f.submit "Siguiente", :class => 'btn btn-primary' %>
	</div>

<% end %>


<div id="vocero_nuevo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-header">
     <button type="button" class="close fade" data-dismiss="modal" aria-hidden="true">×</button>
     <h3 id="myModalLabel">Nuevo Vocero</h3>
   </div>
   <div class="modal-body">
     <%= render 'voceros/form' %>
     
   </div>
 </div>
 
 
 <div id="tema_nuevo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-header">
     <button type="button" class="close fade" data-dismiss="modal" aria-hidden="true">×</button>
     <h3 id="myModalLabel">Nuevo Tema</h3>
   </div>
   <div class="modal-body">
     <%= render 'temas/form' %>
     
   </div>
 </div>


<script type="text/javascript" charset="utf-8">
	function format(vocero) {
	    return vocero.text;
	}
	$("#resumen_vocero_id").select2({
	    formatResult: format,
	    formatSelection: format,
	    escapeMarkup: function(m) { return m; }
	});
</script>