<script type="text/javascript" charset="utf-8">
	function eliminar_resumen (resumen_id) {
		$.post('/resumenes/'+resumen_id);
		return false;
	}


	
</script>

<% if @mensaje %>
	<div class="alert <%= @tipo_alerta %>">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <h4>Alerta:</h4>
	  <%= @mensaje %>
	</div>
<% end %>
<h4>Paso 1</h4>
<h5><%= "Agregados hoy: #{ pluralize(@resumenes_hoy.count, "resumen")}" if @resumenes_hoy.count > 0 %></h5>
<%- @resumenes_hoy.each do |resumen_hoy| -%>
	
	<%= link_to resumen_hoy.descripcion, {:action => "paso2/#{resumen_hoy.id}"}, :class => 'btn btn-link' %>
	<%= link_to resumen_path(resumen_hoy), { :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estas Seguro de eliminar este resumen?')) }, :class => 'btn btn-mini btn-danger', :rel => "nofollow"} do %>
		<i class="icon-trash icon-black"></i>
	<% end %>
	</br>
<% end %>

<%= render :partial => 'form2' %>

<%= render :partial => 'filtro' %>

<%= render :partial => 'notas' if @resumen.notas.count > 0 %>




