<%- model_class = Producto -%>
<%- if controller_name.eql? 'productos' %>
  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
              new_producto_path,
              :class => 'btn btn-primary' %>
    </h1>
  </div>
<% end -%>
<%- @table_name = 'productos'%>
<%= render partial: '/layouts/filtro_tabla' %>


<table class="table table-striped table-hover table-condensed" id="productos">

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= link_to producto.nombre, producto_path(producto) %></td>
        <td><%= producto.descripcion %></td>
        <td><%= producto.marcas.collect{|c| c.nombre}.join(",") %></td>
        <%- if controller_name.eql? 'productos' %>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_producto_path(producto), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        producto_path(producto),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          </td>
        <% end -%>

        <%- if controller_name.eql? 'marcas' %>
          <%- @producto_marca = ProductoMarca.where(marca_id: @marca.id, producto_id: producto.id).first %>
          <td>
            <b class='tooltip-btn' data_toggle='tooltip' title='Desasociar producto de esta marca' >
              <%= link_to producto_marca_path(@producto_marca), { :role => 'button', :class => 'btn btn-danger btn-mini', :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estas seguro de esta acción?')) }} do %>
                <%= content_tag(:i, "", class: "icon-remove icon-white") %>
              <% end %>
            </b>


          </td>
        <% end -%> 
      </tr>
    <% end %>
  </tbody>
</table>
<%- if controller_name.eql? 'productos' %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_producto_path,
            :class => 'btn btn-primary' %>
<% end -%>

