<%- @accion = session[:informe_id] ? 'paso4_actualizar' : 'paso4_crear' %>
<%= form_for @informe, url: {action: @accion, cliente_id: @cliente.id}, :html => { :class => 'form-horizontal' } do |f| %>

  <div class ="well well-small">
    <div style = "text-align:center;">
      <h4><%=@informe.organizacion.razon_social %></h4>
      <%= f.hidden_field :organizacion_id %>
      <p>
        <%= f.text_field :autor, :class => 'text_field span5', :required => true, :style => 'text-align:center;' %>
      </p>
      <p>
        <% fecha = @informe.fecha ? @informe.fecha : Date.today %>
        <!-- <strong><h6><%# fecha.strftime('%A, %d de %B de %Y')%></h6></strong> -->
        <%= f.datetime_select :fecha, {:style => "width:60px;"}, {:required => true, :class => 'date_select span2'} %>
      </p>
      <strong>
        <h6 style = "background-color: black; color: white; height:40px; padding-top:10px;">
          <%= f.text_field :titulo, :class => 'text_field span9', :required => true, :style => 'text-align:center;'%>
        </h6>
      </strong>
      <%= f.text_area :encabezado, :class => 'input-block-level', :data => {"spy" => "scroll", "target" => ".navbar"}, :placeholder => "Encabezado del informe…", :style => "height:100px;"%>

    </div>

    <%- unless @informe_titulares %>
      <p class="label label-warning">Seccion de titulares no disponible. Cargue un informe especial de Contexto País.</p>
    <% else %>
      </br>
      <%- if @accion.eql? 'paso4_crear' %>
        <%- @checked = true %> 
      <% else %> 
        <%- @checked = @informe.tiene_informe_especial? %>
      <% end -%>
      <p class="label label-info">
        <%= f.check_box :informe_especial_id, {class: 'btn', checked: @checked}, @informe_titulares.id, 'no' %>
        Incluir Titulares del <i>Contexto País</i> 
      </p>
    <% end %>


    </br>
      <%= f.submit nil, :class => 'btn btn-success pull-right' %>
    </br>
    </br>


<% end %>
