
<div>
	<p style="background-color: darkgray; padding: 2px;color: #fff;font-size:16pt">
		<b><%= @titulo %></b> 
	</p>
	<%- if @reportes.count > 0 %>
		<table>
		  <tbody>
		    <% @reportes.each do |reporte| %>
		      <tr>
		        <td>
					<div>
						<div style="margin: 10px 0 10px 0;">
							<b style="font-family:Arial;font-size:14pt;text-align:justify;color: #4472c4;"><%= "#{reporte.actor.nombres_cargo}: #{reporte.titulo}" %></b>
							<p style="font-family:Arial;font-size:12pt;text-align:justify;">
								<%= "#{reporte.argumento} " %>
								<%- reporte.adjuntos.each_with_index do |ad, i| %>
								<%- if ad.impreso? %>
									<%- if action_name.eql? 'vista'%>
										<%= image_tag(ad.imagen_url, style: 'max-height: 300px;') %>
									<% else %>
										<%= image_tag attachments[ad.nombre_mail].url, :title => ad.id, alt: "adjunto_#{ad.id}", style: 'max-height: 300px;' if attachments[ad.nombre_mail] %>
									<% end -%>

								<% else %>
									<%= link_to ad.medio.descripcion, ad.url, {:target => '_blank'} %>
								<% end -%>
								<%= " - " if i < (reporte.adjuntos.count - 1) %>
								<% end -%>
							</p>
						</div>
					</div>
		        </td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	<% else %>
		<div style="margin: 10px 0 10px 0;">
			<b style="font-size:14pt;">No se registraron unidades informativas</b>
		</div>
	<% end -%>
</div>
<br>