<%- @ordenar = (action_name.eql? 'paso2_especial') ? 'ordenar_especial' : 'ordenar' %>
<%= form_tag(:action => @ordenar) do %>
	<%= hidden_field_tag :informe_id, @informe.id if action_name.eql? 'paso2_especial' and @informe %> 
	<div class="well well-small">
		<%=submit_tag "Guardar Orden de #{@tipo.humanize}", class: 'btn btn-success pull-right', style: 'margin: 10px 8px 0 0;' if @reportes.count > 1 %>
		<h3><%= @titulo %></h3>
		<table class="table table-striped table-hover table-condensed">
		  <tbody>
		    <% @reportes.each do |reporte| %>
		      <tr>
		        <td style="width: 85%;"><%= raw contenedor_media_descripcion reporte %></td>
		      	<td><%= number_field_tag "reportes_ids[#{reporte.id}]", reporte.orden, class: 'pull-rigth span2', min: 1, max: @reportes.count, step: 1, required: true  if @reportes.count > 1 %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
<% end -%>