
<div>
	<p><em style="color: #42495e;font-size:18pt"><%= @titulo %></em></p>
	<%- if @reportes.count > 0 %>
		<table>
		  <tbody>
		    <% @reportes.each do |reporte| %>
		      <tr>
		        <td>
					<div>
						<div>
							<b style="font-size:16pt"><%= "#{reporte.actor.nombres_cargo}: #{reporte.titulo}" %></b>
							<p style="text-align:justify;font-size:16pt">
								<%= "#{reporte.argumento} " %>
								<%- reporte.adjuntos.each_with_index do |ad, i| %>
								<%= link_to ad.medio.descripcion, ad.url, {:target => '_blank'} %>
								<%= " - " if i < (reporte.adjuntos.count - 1) %>
								<% end -%>
							</p>
						</div>
					</div>
		        </td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	<% else %>
		<b style="font-size:16pt">No se registraron unidades informativas</b>
	<% end -%>
	</br>
</div>
