<div id="wizard_bar">
  <h3 class="titulo"><%= "Wizard Informe para (#{@cliente.razon_social}): #{action_name.humanize} #{@titulo}" %> </h3>
  <div class="form-actions">

	  <div class="control-group">

	    <%- unless @informe.blank? %>
	    	<%= link_to 'Atr치s', {action: 'paso2', id: @informe.id}, class: 'btn' %>
	    	<%= link_to 'Siguiente', {action: "paso4", id: @informe.id}, class: 'btn btn-primary pull-right' %>
	    <% else %>
	    	<%= link_to 'Atr치s', {action: "paso2", cliente_id: @cliente.id}, class: 'btn' %>
	    	<%= link_to 'Siguiente', {action: 'paso4', cliente_id: @cliente.id}, class: 'btn btn-primary pull-right' %>	    
	    <% end -%>


	  </div>
  </div>
</div>


<div class="well well-small">

	<%-@titulo = "Clientes"%>
	<%-@reportes = @reportes_clientes %>
	<%- @tipo = 'cliente' %>
	<%= render partial: 'lista_seccion' %>

	<%-@titulo = "Competencia"%>
	<%-@reportes = @reportes_competencias %>
	<%- @tipo = 'competencia' %>
	<%= render partial: 'lista_seccion' %>

	<%-@titulo = "Actividad Econ칩mica"%>
	<%-@reportes = @reportes_actividades %>
	<%- @tipo = 'actividad' %>
	<%= render partial: 'lista_seccion' %>

	<%- if @reportes_impresos.count > 0 %>

		<%-@titulo = "Impresos"%>
		<%-@reportes = @reportes_impresos %>
		<%- @tipo = 'impresos' %>
		<%= render partial: 'lista_seccion' %>

	<% end -%>

	<%- if @reportes_pendientes.count > 0 %>
		<%= form_tag(:action => "agrupar") do %>
			<div class="well well-small">
				<%=submit_tag 'Guardar Agrupaci칩n', class: 'btn btn-success pull-right'%>
					<%-@titulo = "Pendientes"%>
					<%-@reportes = @reportes_pendientes %>
					<%= render partial: 'index_reportes' %>
			</div>
		<% end -%>
	<% end -%>
</div>
