<div id="wizard_bar">
  <h3 class="titulo"><%= "Wizard Informe para (#{@cliente.razon_social}): #{action_name.humanize} #{@titulo}" %> </h3>
  <div class="form-actions">

	  <div class="control-group">

	    <% if params[:cliente_id] %>
	    	<%= link_to 'Atr치s', {action: "paso3", cliente_id: @cliente.id}, class: 'btn' %>
	    <%- else %>
	    	<%= link_to 'Atr치s', {action: 'paso3', id: @informe.id}, class: 'btn' %>
	    <% end -%>
	    <%# link_to 'Descargar', {action: "descargar/#{@informe.id}"}, class: 'btn btn-primary pull-right' if session[:informe_id]%>
	    <%= link_to 'Preliminar', {action: "vista/#{@informe.id}"}, class: 'btn btn-success pull-right', style: 'margin: 0 0 0 10px;' if session[:informe_id]%>
	    <%= link_to 'Enviar', {action: "seleccionar_destinos/#{@informe.id}"}, class: 'btn btn-info pull-right', style: 'margin: 0 0 0 10px;' if session[:informe_id]%>


	    <%= link_to 'Nuevo', {action: "paso1"}, class: 'btn btn-primary pull-right', style: 'margin: 0 0 0 10px;' %>
	    <%= link_to 'Informes', {controller: "informes"}, class: 'btn btn-primary pull-right', style: 'margin: 0 0 0 10px;' %>

	  </div>
  </div>
</div>

<div class="well well-small">
	<%= render partial: 'form_informe' %>
</div>
<div class="well well-small">

	<%-@titulo = "Clientes"%>
	<%-@reportes = @reportes_clientes %>
	<%- @tipo = 'cliente' %>
	<%= render partial: 'lista_seccion' %>

	<%-@titulo = "Competencia"%>
	<%-@reportes = @reportes_competencias %>
	<%- @tipo = 'competencia' %>
	<%= render partial: 'lista_seccion' %>

	<%-@titulo = "Actividad Econ칩mica"%>
	<%-@reportes = @reportes_actividades %>
	<%- @tipo = 'actividad' %>
	<%= render partial: 'lista_seccion' %>

	<%- if @reportes_pendientes.count > 0 %>
		<%= form_tag(:action => "agrupar") do %>
			<div class="well well-small">
				<%=submit_tag 'Guardar Agrupaci칩n', class: 'btn btn-success pull-right'%>
					<%-@titulo = "Pendientes"%>
					<%-@reportes = @reportes_pendientes %>
					<%= render partial: 'index_reportes' %>
			</div>
		<% end -%>
	<% end -%>
</div>