<div id="wizard_bar">
  <h3 class="titulo"><%= "Wizard Informe para #{@cliente.razon_social}: #{action_name.humanize} #{@titulo}" %> </h3>
  <div class="form-actions">

	  <div class="control-group">

	    <%- unless @informe.blank? %>
	    	<%= link_to 'Atr치s', {controller: 'informes'}, class: 'btn' %>
	    	<%= link_to 'Siguiente', {action: "paso3", id: @informe.id}, class: 'btn btn-primary pull-right' if @reportes_pendientes.count < 1 %>
	    <% else %>
	    	<%= link_to 'Atr치s', {action: "paso1"}, class: 'btn' %>
	    	<%= link_to 'Siguiente', {action: 'paso3', cliente_id: @cliente.id}, class: 'btn btn-primary pull-right' if @reportes_pendientes.count < 1 %>	    
	    <% end -%>

	  </div>
  </div>
</div>

<%= form_tag(:action => "agrupar") do %>
	<div class="well well-small">
		<%=submit_tag 'Guardar Agrupaci칩n', class: 'btn btn-success pull-right'%>
		<%-@titulo = "Clientes"%>
		<%-@reportes = @reportes_clientes %>
		<%= render partial: 'index_reportes' %>

		<%-@titulo = "Competencia"%>
		<%-@reportes = @reportes_competencias %>
		<%= render partial: 'index_reportes' %>

		<%-@titulo = "Actividad Econ칩mica"%>
		<%-@reportes = @reportes_actividades %>
		<%= render partial: 'index_reportes' %>
		<%- if @reportes_pendientes.count > 0 %>
			<%-@titulo = "Pendientes"%>
			<%-@reportes = @reportes_pendientes %>
			<%= render partial: 'index_reportes' %>
		<% end -%>
	</div>
<% end -%>