<h3 class="titulo"><%= "Wizard Informe: #{action_name} #{@titulo}" %> </h3>

<table class="table table-striped table-hover table-condensed" id="clientes">
  <thead>
    <tr>
      <th> Cliente </th>
      <th> Informes de Hoy</th>
      <th> Reportes Sin Informe</th>
      <th> Opciones </th>
    </tr>
  </thead>
  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.razon_social %></td>
        <td><%= cliente.informes.creados_hoy.count %></td>
        <td><%= cliente.reportes.sin_informe.count %></td>
        <td><%= link_to 'Nuevo', {action: 'paso2', cliente_id: cliente.id}, class: 'btn btn-primary' %></td>
        <td><%= raw btn_mini 'Editar el informe más reciente', "/wizard_informes/paso2/#{cliente.informes.last.id}", 'btn-info', 'icon-edit' if cliente.informes.count > 0 %></td>

      </tr>
    <% end -%>
  </tbody>
</table>
