<%= form_for @vocero, :html => { :class => 'form-horizontal' } do |f| %>

<% if @vocero.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@vocero.errors.count, "error") %> impiden el registro:</h2>

    <ul>
    <% @vocero.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'input-medium', :autofocus => "autofocus", :placeholder => "nombre…", :required => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :foto, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :foto, :class => 'input-medium', :placeholder => "url…" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :descripcion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :descripcion, :class => 'input-medium', :placeholder => "Descripcion…" %>
    </div>
  </div>
	<!-- <div class="control-group">
    <%# f.label :tipo_cargo_id, "Cargo Actual", :class => 'control-label' %>
    <div class="controls">
      <%# f.collection_select :tipo_cargo_id, TipoCargo.all, :id, :nombre, {:prompt => true}, {:required => true} %>
    </div>
  </div>

	<div class="control-group">
    <%# f.label :organizacion_id, :class => 'control-label' %>
    <div class="controls">
      <%# f.collection_select :organizacion_id, Organizacion.all, :id, :nombre, {:prompt => true}, {:required => true} %>
    </div>
  </div> -->

  <div class="form-actions">
		<%= f.submit nil, :class => 'btn btn-primary', data: { :disable_with => "Por favor espere..." } %>

		<%= hidden_field_tag 'url', @url if @url %>

		<% unless params[:controller].eql? 'voceros' %>
			<%# hidden_field_tag 'controlador', params[:controller] %>
			<%# hidden_field_tag  'accion', params[:action] %>
    	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                "", :class => 'btn', :data => {:dismiss => 'modal'} %>
		<% else %>
    	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                voceros_path, :class => 'btn' %>
		<% end %>
  </div>


<% end %>
