<%- model_class = Vocero -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
	<p><%= image_tag @vocero.foto, :title => "foto", :class => "img-rounded", :style => 'width: 150px; height:150px; padding:10px 0 0 40px;'%></p>
		
  <dt><strong><%= model_class.human_attribute_name(:organizacion_id) %>:</strong></dt>
  <dd><%= @vocero.organizacion ? @vocero.organizacion.nombre : 'Sin registro' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @vocero.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:descripcion) %>:</strong></dt>
  <dd><%= @vocero.descripcion %></dd>
  <dt><strong>Cargo Actual:</strong></dt>
  <dd><%=  @vocero.tipo_cargo ? @vocero.tipo_cargo.nombre : 'Sin Registro' %></dd>

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              voceros_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_vocero_path(@vocero), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              vocero_path(@vocero),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
