<%= form_for @usuario, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label "Nombre y Apellido:", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'text_field', :autofocus => true, :placeholder => "Nombre…", :required => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Nombre de Sesión:", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre_sesion, :class => 'text_field', :placeholder => "Nombre Sesión…", :required => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Contraseña:", :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :contrasena, :class => 'text_field', :placeholder => "Contraseña…", :required => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Confirmación:", :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :contrasena_confirmation, :class => 'text_field', :placeholder => "Confirmar Contraseña…", :required => true %>
    </div>
  </div>


  <div class="control-group">
    <%= f.label :tipo, :class => 'control-label' %>
    <div class="controls">
      <p>
        
        <%= f.number_field :tipo, prompt: "Cl. Interna", :class => 'number_field', min: 1, max: 3, step: 1, required: true %>
        (1 = Super Administrador, 2 = Administrador y 3 = Usuario)        
      </p>

      <%# f.collection_select :tipo, Usuario.all_tipo, [1..3], [1..3], {:prompt => "Cl. Interna"}, {:required => true} %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                usuarios_path, :class => 'btn' %>
  </div>
<% end %>
