<% clase = @nota.valida? ? "success" : "" %>
<tr class= "<%= clase %>">
	<td>	
	<div class="row-fluid" >
		<ul class="media-list">
		  <li class="media">
		    <div class="media-body">
				<!-- <p> -->
					<%# case action_name %>
					<% if action_name.eql? "paso1" %>
					
						<%= check_box_tag "notas_validas_ids[]", @nota.id, @nota.valida?, {:class => "btn", :style => "display:none;"} %>

					<% else %>
						<%= link_descartar_nota @nota.id, @resumen.id %>
					<% end %>
					
					<% if action_name.eql? 'paso3' %>
					|
						<%= link_to ("/wizard/agregar_nota?website_name=#{@website.nombre}&nota_id=#{@nota.id}&resumen_id=#{@resumen.id}&nota=true"), {:class => "btn btn-success btn-mini"} do %>
							<%= content_tag(:i, "", class: "icon-arrow-up icon-white") %> 
						<% end %>
						|
							<%= link_to ("/wizard/agregar_nota?website_name=#{@website.nombre}&nota_id=#{@nota.id}&resumen_id=#{@resumen.id}"), {:class => "btn btn-info btn-mini"} do %>
								<%= content_tag(:i, "", class: "icon-arrow-up icon-white") %> 
							<% end %>						
					<% end %>

		      <b class="media-heading">
						<%- unless @nota.fecha_publicacion.blank? -%>
							<div class="label">
								<%= "#{@nota.fecha_publicacion}: "%>
							</div>
						<% end %>
						<%= @nota.titulo.to_s[0..100] %>
					</b>
					<%- unless @nota.imagen.blank? -%>
						<a class="pull-right">
							<%= image_tag @nota.imagen, :title => "imagen", :class => "media-object img-rounded", :style => 'max-width: 120px; max-height:120px;'%>
				  	</a>
					<% end %>
			    <% unless @nota.contenido.blank? %>
						<div id="contenido_nota<%=@nota.id%>" class="contenido_nota" style = "display: none;">							
							<%= @nota.contenido %>
						</div>
					<% end %>
		    </div>
		  </li>
		</ul>
	</div>
	<div >
		<%= link_nota @nota %>
		<%= link_to "detalle", " ", {:class => 'btn btn-mini', :onclick => "return detalle('#{@nota.id}')"} unless @nota.contenido.blank? %>			
	</div>
</td></tr>


<script type="text/javascript" charset="utf-8">

	function detalle(nota_id){
		if ($('#contenido_nota'+nota_id).css("display") == "none") { 
			$('#contenido_nota'+nota_id).show();
			$(this).hide;

			}
		else{$('#contenido_nota'+nota_id).hide();}
		return false;
	}
	
</script>
