<%= form_for @nota, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :titulo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :titulo, :class => 'text_field', :placeholder => "Título…", :required => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contenido, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :contenido, :class => 'text_area', :size => '5x5', :placeholder => "Contenido…", :required => true %>
    </div>
  </div>
  <!-- <div class="control-group"> -->
    <%# f.label :tipo_nota_id, :class => 'control-label' %>
    <!-- <div class="controls"> -->
      <%# f.number_field :tipo_nota_id, :class => 'number_field' %>
			<%# f.collection_select :tipo_nota_id, @tipo_nota, :id, :nombre, {:prompt => true}, {:required => true, :class => "selectpicker"} %>
			<%= f.hidden_field :tipo_nota_id, :value => 2 %>
    <!-- </div> -->
  <!-- </div> -->
  <div class="control-group">
    <%= f.label :url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :url, :class => 'text_field', :required => true, :placeholder => "Url…" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :website_id, :class => 'control-label' %>
    <div class="controls">
			<%= f.collection_select :website_id, @websites, :id, :nombre, {:prompt => true}, {:required => true, :class => "selectpicker"} %>
    </div>
  </div>
	<%= hidden_field_tag 'url', @url if @url %>
  <!-- <div class="control-group">
    <%# f.label :resumen_id, :class => 'control-label' %>
    <div class="controls">
      <%# f.number_field :resumen_id, :class => 'number_field' %>
    </div>
  </div> -->

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
		<% if @url %>
			<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              "", :class => 'btn', :data => {:dismiss => 'modal'} %>
  	<% else %>
  	  
    	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                notas_path, :class => 'btn' %>
		<% end %>
  </div>
<% end %>
