<%- paso1 = action_name.eql? 'paso1' -%>
<p class= 'center label label-info'><b><%= @total_notas %> <%= "Nota".pluralize(@total_notas) %> <%= "Disponible".pluralize(@total_notas) %></b>
		<%= render :partial => 'resumenes/filtro_lista' if not paso1%>

		<% if paso1 %>
			<b class='tooltip-btn' data_toggle='tooltip' title= "Puede ser un proceso lento" >
				<%= link_to "", {:href => "/websites/barrer", :class => 'btn btn-mini'}, { :role => 'button', :data => {:toggle => 'modal'}} do %>
					Barrer Todos Los Sitios
					<%= content_tag(:i, "", class: "icon-refresh") %>
				<% end %>
			</b>
		<% end %>
</p>
<%= render :partial => 'panel_website' if paso1 %>


<table class="table-bordered">
	<tr class="info">
			<%- @websites.each_with_index do |website,i| -%>
				<%- contador_notas = website.notas.creadas_hoy %>
				<%- contador_notas = paso1 ? contador_notas.sin_resumen.count : contador_notas.validas.sin_resumen.count %>
				<% seleccionada = website.usuario_id.eql?(session[:usuario].id) %>
				<% if (contador_notas > 0) %>
					<th id="<%= website.nombre %>_titulo" style="background:skyblue; <%= 'display:none;' unless seleccionada %>">
						<%= website.nombre %>
						<span class="badge badge-inverse"><%= contador_notas %></span>
						<% if action_name.eql? "paso1" and controller_name.eql? "wizard" %>
							<b class='tooltip-btn' data_toggle='tooltip' title= "Barrer <%= website.descripcion %> " >
								<%= link_to "", {:href => "/websites/barrer/#{website.id}", :class => 'btn btn-mini'}, { :role => 'button', :data => {:toggle => 'modal'}} do %>
									<%= content_tag(:i, "", class: "icon-refresh") %>
								<% end %>
							</b>
						<% end %>
					</th>
				<% end %>
			
			<% end %>
	</tr>
	<tr>

		<%- @websites.each_with_index do |website,i| -%>

			<% seleccionada = website.usuario_id.eql?(session[:usuario].id) %>

			<%- @notas = website.notas.creadas_hoy.order('updated_at DESC') %>
			<%- @notas = (action_name.eql? 'paso1') ? @notas.sin_resumen : @notas.validas.sin_resumen %>

			<% if @notas.count > 0 %>
				<td id="<%= website.nombre %>" style="<%= 'display:none;' unless seleccionada %>">
					<div class=contenido_scroll>
						<table class="table table-condensed table-striped table-hover notas<%= ' seleccionada' if seleccionada %>">
							<%- @notas.each do |nota| -%>
								<% @nota = nota %>
								<% @website = website %>
									<%= render :partial => 'notas/detalle' %>
							<% end %>
						</table>
					</div>
				</td>
			<% end %>
			
		<% end %>
	</tr>
</table>

<% if paso1 %>
	<script type="text/javascript" charset="utf-8">

		$(document).ready(function(){
		  $("table.seleccionada .row-fluid").click(function(){
				var checkbox = $(this).find(':checkbox');
				checkbox.click();
				if(checkbox.is(':checked')) {  
					$(this).parent().parent().addClass('success');
				}else{
					$(this).parent().parent().removeClass('success');
				}
		   });
		});
	</script>

<% else %>

	<script type="text/javascript" charset="utf-8">

		$(".voceros").select2({
			formatResult: format,
			formatSelection: format,
			escapeMarkup: function(m) { return m; }
		});

	</script>  

<% end %>