<%= form_tag(:action => "#{action_name}_guardar") do %>

<% if action_name == "paso1" %>
	<div class="well well-small" style="text-align: right;">
		<%= submit_tag "Guardar Selección", :id => "submit", :name => "submit", :class => "btn btn-primary", :disabled => false, :disable_with => "Enviando..." %>	
	</div>
<% end %>
<%= hidden_field_tag "website_activa", session[:website_activa] %>
<%= render :partial => 'resumenes/filtro' %>
<div class="control-group">
	<ul id="myTab" class="nav nav-tabs">
	<%- @websites.each_with_index do |website,i| -%>
	 	<li class= "<%=" active" if (website.nombre.eql? session[:website_activa]) %>" style="font-size: 10px;">
			<% case action_name %>
			<% when "paso1" %>
				<% contador_notas = website.notas.creadas_hoy.sin_resumen.count %>
			<% else %>
				<% contador_notas = website.notas.creadas_hoy.validas.sin_resumen.count %>
			<% end %>
			<% if contador_notas > 0 %>
			
				<%= link_to "##{website.nombre}", :data => {:toggle => "tab"}, :onclick => "return set_website_activa('#{website.nombre.to_s}')" do %>
					<%= "#{website.descripcion}" %>
					<span class="badge badge-inverse"><%= contador_notas %></span>
				<% end %>
			<% end %>
	 	</li>
	<%- end -%>
	</ul>
	<div data-spy="scroll" data-target="#myTab" data-offset="0" class="scrollspy-example">
		<div id="myTabContent" class="tab-content">
			<%- @websites.each_with_index do |website,i| -%>
				<%# website.importar_notas_website unless website.carga_reciente? %>
				<% case action_name %>
				<% when "paso1" %>
					<%- @notas = website.notas.creadas_hoy.sin_resumen -%>
				<%# when "paso2" %>
					<%# @notas = website.notas.creadas_hoy_sin_resumen -%>
				<% else %>
					<%- @notas = website.notas.creadas_hoy.validas.sin_resumen -%>
				<% end %>
								
				<div class="tab-pane fade<%=" active in" if (website.nombre.eql? session[:website_activa]) %>" id="<%= website.nombre %>">

					<div style="overflow: scroll;height: 300px;">
						
						<table class="table table-hover">
		        	<thead>
		          	<tr>
			            <th></th>
									<th></th>
									<th width="90px;"></th>
			          </tr>
			        </thead>
			        <tbody>
								<%- @notas.each_with_index do |nota,j| -%>
									
									<%# fondo = 'background-color: honeydew;' if nota.valida? %>
									<tr id="<%=nota.id%>">
										<td><%= j+1 %></td>
										<td>
											<div class="media">
											  <%- unless nota.imagen.blank? -%>
													<a class="pull-left">
														<%= image_tag nota.imagen, :title => "imagen", :class => "media-object img-rounded", :style => 'max-width: 120px; max-height:120px;'%>
											  	</a>
												<% end %>
											  <div class="media-body">
											    <h5 class="media-heading"><%= nota.fecha_publicacion %> : <%= nota.titulo %></h5>
													<%= link_nota nota %>
											    <% unless nota.contenido.blank? %>
														<%= link_to "detalle", " ", {:class => 'btn btn-mini', :onclick => "return detalle('#{nota.id}')"} %>
														<div id="contenido_nota<%=nota.id%>", style = "display: none; text-align: justify;">
															<%= nota.contenido %>
														</div>
													<% end %>
												</div>
											</div>
										</td>
				            <td>
											<% case action_name %>
											<% when "paso1" %>
												<%# etiq = nota.valida? ? "success" : "info" %>
												
												<span class="btn">
													<%= check_box_tag "notas_validas_ids[]", nota.id, nota.valida?, {:class => "btn"} %>
													<%= nota.valida? ? "Inluido" : "Incluir" %>
												</span>
												
												<%# , :onclick => "return pintar_fondo('#{nota.id}');" %>
												
											<% when "paso3" %>
												<%= link_to "/#{controller_name}/invalidar/#{nota.id}?resumen_id=#{@resumen.id}&action_name=#{action_name}", :resumen_id => @resumen.id, :class => 'btn btn-mini btn-danger', :data => {:confirm => '¿Esta Seguro?', :method => 'delete'} do %>
													<i class='icon-trash icon-black'></i>
												<% end %>
												|
												<%= link_to ("/wizard/agregar_nota?website_name=#{website.nombre}&nota_id=#{nota.id}&resumen_id=#{@resumen.id}"), {:class => "btn btn-success btn-mini"} do %>
													<%= content_tag(:i, "", class: "icon-arrow-up icon-white") %> 
												<% end %>
											<% end %>

												<%# select_tag "nota_vocero_ids[#{nota.id}]", options_from_collection_for_select(Vocero.order('nombre DESC'), 'id', 'descripcion_completa' ), :class => 'voceros', prompt: "Seleccione..."%>
										</td>
				          </tr>
								<% end %>
		        	</tbody>
		      	</table>
						
					</div>
				</div> <!-- class="tab-pane fade -->
			<%- end -%>
		</div> <!-- id="myTabContent" -->
	</div> <!-- data-spy="scroll" -->
</div>  <!-- class="bs-docs-example" -->

  
<% end -%>


<script type="text/javascript" charset="utf-8">
	
	
	// function pintar_fondo(nota_id){
	// 	// alert(document.getElementById(nota_id).cells.item(4).setAttribute("checked") );
	// 	var div_nota = document.getElementById(nota_id);
	// 	// div_nota.cells.item(4).innerHTML.click();
	// 	var valor;
	// 
	// 	
	// 	if (div_nota.cells[4].getElementsByName('checkbox')){
	// 		valor = "si"+div_nota.cells[4];
	// 	}else{
	// 		valor = "no"+div_nota.cells[4].getElementsByName('checkbox');
	// 	}
	// 		
	// 	alert(valor);
	// 	div_nota.style.backgroundColor = "honeydew";
	// 	return true;		
	// }
	
	function set_website_activa(nombre_website){
		document.getElementById("website_activa").value = nombre_website;
		return false;
		
	}
	
	function format(vocero) {
		return vocero.text;
	}
	$(".voceros").select2({
		formatResult: format,
		formatSelection: format,
		escapeMarkup: function(m) { return m; }
	});


	function detalle(nota_id){
		if ($('#contenido_nota'+nota_id).css("display") == "none") { $('#contenido_nota'+nota_id).show();}
		else{$('#contenido_nota'+nota_id).hide();}
		return false;
	}

	// function agregar_nota(nombre_website, nota_id, resumen_id){
	// 	$("#"+nota_id).hide();
	// 	$.post("/notas/update/"+nota_id+"?resumen_id="+resumen_id+"&nombre_website"+nombre_website.id);
	// 	$.post("/resumenes/update/"+resumen_id+"?nota_id="+nota_id);
	// 	$.post("/wizard/actualizar_website_activa/"+nombre_website.id);
	// 	// this = this+"#"+website_nombre;
	// 	// location.form.reload();
	// 	// $("#main").reload();
	// 	location.reload();
	// 
	// 	return false;
	// }

	
</script>



