<div id="wizard_bar">
   <h3 class="titulo"><%= "Wizard Reportes: #{action_name} #{@titulo}" %> </h3>
  <div class="form-actions">

  <div class="control-group">

	<%= link_to 'Otro Cliente', {action: 'paso1'}, class: 'btn bnt-large btn-primary' %>  
    <%= link_to 'Atrás', {action: 'paso3', id: @reporte.id}, class: 'btn' %>
    <%= link_to 'Siguiente Reporte', {action: 'paso3'}, class: 'btn btn-primary pull-right' %>

  </div>

	<%= render partial: 'show_reporte' %>
  </div>
</div>


<%= render partial: 'agregables_vs_otro_cliente_link' %>
