<h3 class="titulo"><%= "Wizard Reportes: #{action_name.humanize} #{@titulo}" %> </h3>
<%= form_tag(:action => 'paso2_guardar') do %>
<div id="wizard_bar">
  <div class="form-actions">
      <%= link_to 'Atrás', {action: 'paso1'}, class: 'btn' %>
      <%= submit_tag "Guardar Selección / Siguiente", :id => "submit", :name => "submit", :class => 'btn btn-primary pull-right', disabled: false, disable_with: "Enviando..." %>

  </div>
</div>

<%= render partial: '/adjuntos/lista_adjuntos' %>

<% end %>
