<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @cuna.nombre %>
</p>

<p>
  <b>Sigecup:</b>
  <%= @cuna.sigecup_id %>
</p>

<p>
  <b>Sigecup creacion:</b>
  <%= @cuna.sigecup_creacion %>
</p>

<p>
  <b>Duracion:</b>
  <%= @cuna.duracion %>
</p>

<p>
  <b>Organizacion:</b>
  <%= @cuna.organizacion_id %>
</p>

<p>
  <b>Candidatos:</b>
	<% @cuna.candidates.each do |candidate| %>
		<br />
		<%= candidate.name %>
	<% end %>
</p>

<p>
  <b>Video:</b>
  <%= @cuna.video %>
</p>


<%= link_to 'Edit', edit_cuna_path(@cuna) %> |
<%= link_to 'Back', cunas_path %>
