<div class="row-fluid">
		<%- @websites.each_with_index do |website,i| -%>
			<% seleccionada = website.usuario_id.eql?(session[:usuario].id) %>
	    <label class="label well well-small span2 <%= 'label-success' if seleccionada %>" style="font-size:80%;" id= "label_<%= website.nombre %>">
					<%= check_box_tag "#{website.nombre}_activador", nil, true, {:onchange => "return mostrar('#{website.nombre}');", :style => 'display:none;'} unless seleccionada %>
					<%= website.nombre %>
					<%- contador_notas = website.notas.creadas_hoy %>
					(<%= contador_notas.count %>)
	    </label>
		<% end %>
</div>

<script type="text/javascript" charset="utf-8">

	function mostrar(website){
		
		activador = $('#'+website+'_activador');
		if (activador.is(':checked')) { 
			$('#'+website).show();
			$('#'+website+'_titulo').show();
			activador.parent().addClass('label-info');
		}else{
			$('#'+website).hide();
			$('#'+website+'_titulo').hide();
			activador.parent().removeClass('label-info');
		}
		return false;
	}
</script>