<!-- Modal -->
<% @hide = @url ? "hide fade" : "" %>
<div id="seleccionar_website" class="modal <%= @hide %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
		<% if @url %>
			<button type="button" class="close fade" data-dismiss="modal" aria-hidden="true">×</button>
		<% end %>
    <h3>Seleccione Sitios Web a barrer: </h3>
  </div>
	<%= form_tag(:action => "asignar_websites") do %>
	  <div class="modal-body">
			<%- @websites_disponibles.each do |website| %>
				<%- seleccionada = website.usuario_id.eql?(session[:usuario].id) -%>
				<label class= "label well well-small <%= 'label-success' if seleccionada %>" id= "label_<%= website.nombre %>">
					<%= check_box_tag "websites[#{website.nombre}]", website.id, seleccionada, {:onchange => "return marcar('#{website.nombre}');", :style => 'display:none;'} %>
					<%= website.nombre %>
				</label>

			<% end %>
	  </div>
		<%= hidden_field_tag 'url', @url if @url %>
	  <div class="modal-footer">
	    <%= submit_tag "Guardar Selección", :id => "submit", :name => "submit", :class => "btn btn-primary", :disable_with => "Cargando..." %>
	  </div>
	<% end %>
</div>

<script type="text/javascript" charset="utf-8">

	function marcar(website){
		marcador = $('#websites_'+website);

		if (marcador.is(':checked')) {
			marcador.parent().addClass('label-success');
		}else{
			marcador.parent().removeClass('label-success');
		}
		return false;
	}
</script>