
<% unless session[:website_selecionada] %>
	<%= render :partial => 'seleccionar_website' %>	
<% else %>
	
	<div >
		<%= render :partial => 'resumenes/filtro_lista'%>	
	</div>

	<%= form_tag(:action => "#{action_name}_guardar") do %>

		<% if action_name == "paso1" %>
			<div class="well well-small" style="text-align: right;">
				<b class='tooltip-btn' data_toggle='tooltip' title='Cambiar Selección de Websites'>
					<%= link_to "", {:href => "/wizard/cambiar_seleccion_websites", :class => 'btn btn-info btn-mini'}, { :role => 'button', :data => {:toggle => 'modal'}} do %>
						<%= content_tag(:i, "", class: "icon-edit icon-white") %>
						<%= content_tag(:i, "", class: "icon-list icon-white") %>
					<% end %>
				</b>
				|
				<%= submit_tag "Guardar Selección", :id => "submit", :name => "submit", :class => "btn btn-primary", :disabled => false, :disable_with => "Enviando..." %>	
			</div>
		<% end %>

		<br></br>
		<div class= 'container-fluid'>
			<%= render :partial => 'notas/lista' %>			
		</div>

	
	<% end %>
<% end %>

<script type="text/javascript" charset="utf-8">	
	$(document).ready(function() {
		$('.tooltip-btn').tooltip();
	});
</script>