<%= form_for(@producto_marca) do |f| %>
  <% if @producto_marca.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto_marca.errors.count, "error") %> prohibited this producto_marca from being saved:</h2>

      <ul>
      <% @producto_marca.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :producto %><br />
    <%= f.text_field :producto %>
  </div>
  <div class="field">
    <%= f.label :marca %><br />
    <%= f.text_field :marca %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
