<%- model_class = Actor -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nombres) %></th>
      <th><%= model_class.human_attribute_name(:cargo) %></th>
      <th><%= model_class.human_attribute_name(:tolda_id) %></th>
      <th><%= model_class.human_attribute_name(:organizacion_id) %></th>
      <th><%= model_class.human_attribute_name(:representante_legal) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @actores.each do |actor| %>
      <tr>
        <td><%= link_to actor.id, actor_path(actor) %></td>
        <td><%= actor.nombres %></td>
        <td><%= actor.cargo %></td>
        <td><%= actor.tolda.description %></td>
        <td><%= actor.organizacion.razon_social %></td>
        <td>
          <% if actor.representante_legal -%>
            <i class="icon-ok"></i>
          <% end -%>
        </td>
        <td>
          <b class='tooltip-btn' data_toggle='tooltip' title='Editar Actor' >
            <%= link_to edit_actor_path(actor), { :role => 'button', :class => 'btn btn-info btn-mini'} do %>
              <%= content_tag(:i, "", class: "icon-edit icon-white") %>
            <% end %>
          </b>  

          <b class='tooltip-btn' data_toggle='tooltip' title='Eliminar Actor' >
            <%= link_to actor_path(actor), { :role => 'button', :class => 'btn btn-danger btn-mini', :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estas seguro de esta acción?')) }} do %>
              <%= content_tag(:i, "", class: "icon-trash icon-white") %>
            <% end %>
          </b>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_actor_path,
            :class => 'btn btn-primary' %>




  