<!-- Modal -->
<div id="iniciar_sesion" class="modal hide fade" tabindex="-1">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Iniciar Sesión</h3>
  </div>
	<%= form_tag(:action => "validar") do %>
	  <div class="modal-body">
			<%= text_field :usuario, :nombre_sesion, {:placeholder => "Nombre de  Usuario", :required => true, :autofocus => true } %>
			<%= password_field :usuario, :contrasena, {:placeholder => "Contraseña", :required => true} %>  	
	  </div>
	  <div class="modal-footer">
			<%= link_to "Cancelar", "#", {:class=> "btn", "data-dismiss"=>"modal"} %>	

	    <%= submit_tag "Entrar", :id => "submit", :name => "submit", :class => "btn btn-primary", :disable_with => "Cargando..." %>
	  </div>
	<% end %>
</div>
